body {
    font-size: 12px;
}



/* Intro */
#story-intro:before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
}
#story-intro {
    min-height: 135vh;
}
#story-intro-text {
    padding-top: var(--wrapper-padding);
}
.header-logo {
    width: 95%;
    max-width: unset;
}
.story-intro-p-large {
    font-size: 1.2rem;
}
.story-intro-p {
    font-size: 1rem;
}
.story-intro-btns-wrapper {

}
.story-intro-icon-btns-link {
    width: 20ch;
}
/* END Intro */


/* Scenes */
.scroll-story-nav-link {
    width: 12px;
    height: 12px;
}
.scroll-story-nav-tooltip {
    margin-top: -19.5px;
}
#what-is-LTS-scene {
    flex-direction: column-reverse;
    margin-top: -55vh;
}
#regional-lts-table {
    position: initial;
    width: 75%;
    font-size: 1em;
    margin-top: var(--wrapper-padding);
}
.regional-lts-table-th {
    font-size: 1.2em;
}
.regional-lts-table-cat {
    font-size: 2em;
}
.scene-header, .flat-scene-header {
    font-size: 1.5em;
}
.scene-header {
    margin-left: -10px;
}
.scene-header, .scene-text {
    padding: var(--wrapper-padding-half);
}
.scene-text {
    font-size: 1em;
}
/* END Scenes */