/* General */
body {
    font-size: 12px;
}
/* END General */



/* Intro */
#story-intro:before {
    clip-path: polygon(-25px 0, 100% 0, 100% 100%, 50% 100%);
}
#story-intro {
    min-height: 120vh;
}
.header-logo {
    max-width: 350px;
}
.story-intro-text-wrapper {
    width: 40em;
}
.story-intro-btns-wrapper {
    width: 35%;
}
.story-intro-icon-btns-link {
    font-size: 1.2rem;
}
.mini-bike {
    width: 20%;
}
/* END Intro */



/* Scenes General */
.scene-text {
    width: 40ch;
    margin-right: var(--wrapper-padding-half);
}
/* END Scenes General */



/* Individual Scenes */
.what-is-lts-content-wrapper {
    flex-direction: column;
    width: 75%;
}
#regional-lts-table {
    margin: 0 auto;
    margin-top: var(--wrapper-padding-double);
    width: 95%;
}
.what-is-lts-text {
    width: 95%;
}
/* END Individual Scenes */



/* Footer */
footer {
    height: unset;
}
.footer-text {
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 0;
    padding: var(--wrapper-padding-double) var(--wrapper-padding-half);
}
.footer-text, .footer-connect {
    position: initial;
}
.footer-lts-logo {
    width: 40%;
    padding-bottom: var(--wrapper-padding-double);
    margin-top: var(--wrapper-padding);
    margin-bottom: var(--wrapper-padding-double);
    border-bottom: 1px solid var(--theme-black);
}
.footer-list-main {
    width: 90%;
}
.footer-logo-dvrpc {
    width: 105px;
}
.footer-connect-us {
    font-size: 1.2em;
}

/* END Footer */