/***********/
/* General */
* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 145%;
}
:root {
    --theme-green: #498434;
    --theme-green-light: #72bc58;
    --theme-yellow: #fcd842;
    --theme-red: #a50a0a;
    --theme-purple: #3F3047;
    --theme-black: #383838;

    --wrapper-padding: 20px;
    --wrapper-padding-half: 10px;
    --wrapper-padding-double: 40px;
    --wrapper-padding-quad: 60px;
    
    /* standard shadow */
    --box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    --drop-shadow: drop-shadow(1px 2px 3px rgba(0,0,0,0.3));
        
    --border-radius: 15px;

    --map-height: 95vh;
}
a {
    color: var(--theme-black);
    font-weight: bold;
}
a:hover {
    color: var(--theme-green);
}
p, em {
    margin: 10px 0;
}
nav {
    padding: var(--wrapper-padding-half);
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: var(--wrapper-padding-half);
}
strong {
    color: var(--theme-purple);
}
.em-block {
    display: block;
}
.flex-row {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-align-start {
    align-items: flex-start;
}
.flex-align-center {
    align-items: center;
}
.flex-justify-between {
    justify-content: space-between;
}
.flex-justify-around {
    justify-content: space-around;
}
.flex-justify-end {
    justify-content: flex-end;
}
.list-unstyled {
    list-style-type: none;
    padding-left: 0;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
/* END General */
/***************/



/********/
/* Nav */
.top-nav {
    position: sticky;
    height: 3vh;
    top: 0;
    z-index: 6;
    /* background-color: var(--theme-green); */
    background-color: transparent;
}
.nav-link-icon {
    margin-right: 5px;
}
#nav-logo {
    display: block;
    width: 90%;
}
#nav-link-analysis {
    margin-right: 15px;
}
/************/
/* END Nav */



/************/
/* Homepage */
#story-intro-overflow {
    overflow: hidden;
}
#story-intro {
    position: relative;
    height: 100vh;
    background-color: var(--theme-black);
}
#story-intro:before {
    overflow-x: hidden;
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%);
}
#story-intro-text {
    position: relative;
    padding: var(--wrapper-padding-quad) var(--wrapper-padding) var(--wrapper-padding);
    z-index: 2;
}
.header {
    font-size: 1.75rem;
    text-transform: uppercase;
    line-height: 145%;
    margin-top: 0.33rem;
    margin-right: var(--wrapper-padding);
}
.h1-special {
    font-size: 4.25rem;
    color: var(--theme-green-light);
}
#story-intro-text-content {
    width: 75ch;
    padding-left: var(--wrapper-padding);
    border-left: 3px solid var(--theme-black);
}
.story-intro-p {
    line-height: 150%;
    font-size: 1.35rem;
    margin: 0;
    font-weight: 300;
    max-width: 75ch;
}
.story-intro-p-large {
    font-size: 1.75rem;
    margin-bottom: var(--wrapper-padding);
}
.story-intro-btns-wrapper {
    width: 40%;
    padding: var(--wrapper-padding);
    margin-top: calc(var(--wrapper-padding-double)* -1);
    position: absolute;
    bottom: 1.75rem;
    z-index: 2;
}
.story-intro-icon-btns-link {
    width: 25ch;
    color: white;
    font-size: 1.5rem;
    border-bottom: 4px solid;
    text-decoration: none;
}
#read-story-btn {
    border-color: var(--theme-green);
}
#view-map-btn {
    border-color: var(--theme-yellow);
}
.story-intro-icon-figure {
    cursor: pointer;
    padding: var(--wrapper-padding)
}
.story-intro-icon-figure:hover {
    text-decoration: underline;
}
/* END Homepage */
/****************/



/************************/
/* Scroll Story General */
#scroll-story-main {
    padding: var(--wrapper-padding);
    background-color: #f7f7f7;
}
#scroll-story-main a {
    color: initial;
}
#scroll-story-nav {
    background-color: initial;
    border-radius: var(--border-radius);
    position: sticky;
    top: 28%;
    width: 10px;
    z-index: 5;
    padding: 0;
    margin-left: -12px;
}
.scroll-story-nav-li {
    background-color: var(--theme-red);
}
.scroll-story-nav-link {
    border-radius: 50%;
    margin-bottom: 11px;
    display: block;
    width: 14px;
    height: 14px;
    filter: var(--drop-shadow);
}
.scroll-story-nav-link-active, .scroll-story-nav-link:hover {
    background-color: var(--theme-green);
}
.scroll-story-nav-hr {
    margin-top: -5px;
    margin-bottom: 5px;
    width: 10px;
}
.scroll-story-nav-tooltip-wrapper {
    filter: var(--drop-shadow);
}
.scroll-story-nav-tooltip {
    background-color: var(--theme-green);
    color: var(--theme-yellow);
    clip-path: polygon(5% 0%,100% 0%,100% 100%,5% 100%,0% 50%);
    width: 160px;
    text-align: center;
    position: absolute;
    left: 15px;
    margin-top: -1rem;
    font-weight: 700;
}
.scene-section {
    /* 42 px is 3x nav width */
    width: calc(100% - 42px);
    margin: 0 auto;
    min-height: 85vh;
    padding: 30px 0;
}
.scene-buffer {
    height: 92.5vh;
}
.scene-header {
    font-size: 1.9rem;
    line-height: 145%;
    color: var(--theme-green);
}
.scene-buffer-header {
    font-size: 2.25rem;
}
.scene-buffer-header + p {
    font-size: 1.15rem;
}
.scene-text {
    width: 50ch;
    opacity: 0;
}
.scene-media {
    width: 60%;
    filter: var(--drop-shadow);
    border-radius: var(--border-radius);
}
/* END Scroll Story General */
/****************************/



/* Individua Scenes */
.first-map-scene {
    margin-top: calc(var(--map-height) * -1);
}
#what-is-LTS-scene {
    /* height of story-nav*/
    margin-top: -350px;
}
#regional-lts-table {
    background-color: white;
    text-align: center;
}
#regional-lts-table thead th:nth-child(1) {
    width: 10%;
}
#regional-lts-table tr:not(:last-child) {
    border-bottom: 4px solid #f6f6f6;
}
.regional-lts-table-th {
    background-color: #f6f6f6;
    color: var(--theme-purple);
    font-size: 1rem;
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
}
.regional-lts-table-th:first-child {
    border-top-left-radius: var(--border-radius);
}
.regional-lts-table-th:last-child {
    border-top-right-radius: var(--border-radius);
}
#cyclist-type-icon {
    margin-left: 5px;
    filter: var(--drop-shadow);
}
.regional-lts-table-cat {
    color: white;
    font-weight: 700;
    font-size: 2rem;
}
#regional-lts-table-1 {
    background-color: var(--theme-green);
}
#regional-lts-table-2 {
    background-color: var(--theme-green-light);
}
#regional-lts-table-3 {
    background-color: var(--theme-yellow);
}
#regional-lts-table-4 {
    background-color: var(--theme-red);
    border-bottom-left-radius: var(--border-radius);
}
.lts-table-ul li {
    margin-bottom: 5px;
}
.scene-media-img {
    width: 400px;
}
/* END Individual Scenes */



/*******/
/* Map */
.map {
    height: var(--map-height);
    position: sticky;
    top: 2.5vh;
    /* offset scene-section margin */
    left: 42px;
}
/* END Map */
/********/



/*****************/
/* Final Graphic */
#final-graphic {
    display: block;
    height: 400px;
    background: #f7f7f7;
}
/*********************/
/* END Final Graphic */



/**********/
/* Footer */
footer {
    color: #fff;
    background-color: var(--theme-red);
    padding: var(--wrapper-padding);
}
/* END Footer */
/**************/



/**************/
/* Animations */
.fadein {
    animation-name: fadein;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}
/* @TODO animate scene-media by adding filter drop-shadow from 0 */
/* END Animations */
/******************/
