/***********/
/* General */
* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.45;
}
:root {
    --theme-green: #396829;
    --theme-green-light: #a4bc58;
    --theme-yellow: #fcd842;
    --theme-red: #a50a0a;
    --theme-purple: #3F3047;
    --theme-black: #383838;
    --theme-white: #f9f9f9;
    --theme-brown: #993404;

    --wrapper-padding: 20px;
    --wrapper-padding-half: 10px;
    --wrapper-padding-double: 40px;
    --wrapper-padding-quad: 60px;
    
    /* standard shadow */
    --box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    --drop-shadow: drop-shadow(1px 2px 6px #72bc58);
    --drop-shadow-tooltip: drop-shadow(1px 2px 3px rgba(0,0,0,0.3));
        
    --border-radius: 15px;
}
a {
    color: var(--theme-black);
    font-weight: bold;
}
a:hover {
    color: var(--theme-green);
}
p, em {
    margin: 10px 0;
}
nav {
    padding: var(--wrapper-padding-half);
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: var(--wrapper-padding-half);
}
strong {
    color: var(--theme-purple);
}
.em-block {
    display: block;
}
.flex-row {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-align-start {
    align-items: flex-start;
}
.flex-align-center {
    align-items: center;
}
.flex-justify-center {
    justify-content: center;
}
.flex-justify-between {
    justify-content: space-between;
}
.flex-justify-around {
    justify-content: space-around;
}
.flex-justify-end {
    justify-content: flex-end;
}
.list-unstyled {
    list-style-type: none;
    padding-left: 0;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.bold {
    font-weight: 700;
}
.lts-highlights {
    /* help with contrast */
    filter: drop-shadow(1px 1px 0px rgba(0,0,0,0.2));
}
.lts-1-color {
    color: var(--theme-green);
}
.lts-2-color {
    color: var(--theme-green-light);
}
.lts-3-color {
    color: var(--theme-yellow);
}
.lts-purple {
    color: var(--theme-purple);
}
.lts-orange {
    color: orange;
}
.lts-brown {
    color: var(--theme-brown);
}
.ipd-blue {
    color: #081d58;
}
.ipd-yellow {
    color: #edf8b1;
}
/* END General */
/***************/



/********/
/* Nav */
.top-nav {
    position: fixed;
    width: calc(100% - var(--wrapper-padding));
    z-index: 7;
    background-color: var(--theme-black);
    transition: transform 1s;
    transform: translateY(-110%);
}
.top-nav-visible {
    transform: translateY(0);
}
.top-nav a {
    color: var(--theme-white);
    text-decoration: none;
}
.nav-logo {
    display: block;
    width: 70%;
}
.nav-link {
    position: relative;
    border-bottom: 3px solid var(--theme-yellow);
    width: 185px;
    font-weight: initial;
}
.nav-link-home {
    color: var(--theme-white);
    cursor: pointer;
    border-color: var(--theme-green-light);
}
.nav-link-home:hover {
    color: var(--theme-green-light);
}
.nav-link-map {
    margin-left: var(--wrapper-padding);
}
.nav-link-map:hover {
    color: var(--theme-yellow);
}
.nav-bike {
    width: 36px;
    margin-left: var(--wrapper-padding);
}
.wheel-nav {
    position: absolute;
    width: 8px;
    height: 8px;
    bottom: -8px;
    right: -1px;
    border: 4px solid var(--theme-white);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}
/************/
/* END Nav */



/************/
/* Homepage */
#story-intro-overflow {
    overflow: hidden;
}
#story-intro {
    position: relative;
    min-height: 100vh;
    background-color: var(--theme-black);
}
#story-intro:before {
    overflow-x: hidden;
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: white;
    clip-path: polygon(-40px 0, 100% 0, 100% 100%, 50% 100%);
}
#story-intro-text {
    position: relative;
    padding: var(--wrapper-padding);
    padding-top: var(--wrapper-padding-double);
    z-index: 2;
}
.header-logo {
    width: 90%;
    max-width: 475px;
}
.wheel {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: -12.5px;
    right: -1px;
    border: 4px solid var(--theme-white);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}
.wheel-red {
    background-color: var(--theme-red);
}
.wheel-yellow {
    background-color: var(--theme-yellow);
}
.wheel-green {
    background-color: var(--theme-green-light);
}
#story-intro-text-content {
    width: 62ch;
    padding-left: var(--wrapper-padding);
    border-left: 2px solid var(--theme-black);
}
.story-intro-p {
    font-size: 1.25rem;
    margin: 0;
    font-weight: 300;
    max-width: 75ch;
}
.story-intro-p-large {
    font-size: 1.6rem;
    margin-bottom: var(--wrapper-padding);
}
.story-intro-btns-wrapper {
    width: 30%;
    padding: var(--wrapper-padding);
    margin-top: calc(var(--wrapper-padding-double)* -1);
    position: absolute;
    bottom: 1.75rem;
    z-index: 2;
}
.story-intro-icon-btns-link {
    width: 31ch;
    color: var(--theme-white);
    font-size: 1.4rem;
    border-bottom: 4px solid;
    text-decoration: none;
}
#read-story-btn {
    border-color: var(--theme-green);
}
#read-story-btn:hover {
    color: var(--theme-green);
}
#view-map-btn {
    border-color: var(--theme-yellow);
}
#view-map-btn:hover {
    color: var(--theme-yellow);
}
.story-intro-icon-figure {
    position: relative;
    cursor: pointer;
    padding: var(--wrapper-padding);
    padding-bottom: 0;
    font-weight: 400;
}
.mini-bike {
    width: 25%;
}
.intro-bike-yellow {
    top: 25%;
    left: -3%;
}
.intro-bike-green {
    top: 63%;
    left: 30%;
}
/* END Homepage */
/****************/



/************************/
/* Scroll Story General */
#scroll-story-main {
    padding: 0;
    background-color: #f9f9f9;
}
#scroll-story-main a {
    color: initial;
}
#scroll-story-nav {
    background-color: initial;
    position: sticky;
    z-index: 5;
    padding: 0;
    margin-left: var(--wrapper-padding-half);
}
.scroll-story-nav-li {
    background-color: transparent;
    border: 5px solid #afafaf;
}
.scroll-story-nav-link {
    border-radius: 50%;
    margin-bottom: 11px;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.scroll-story-nav-link-active, .scroll-story-nav-link:hover {
    background-color: var(--theme-green);
    filter: var(--drop-shadow);
}
.scroll-story-nav-hr {
    color: var(--theme-white);
    margin-bottom: 11px;
    width: 30px;
}
.scroll-story-nav-tooltip-wrapper {
    filter: var(--drop-shadow-tooltip);
}
.scroll-story-nav-tooltip {
    background-color: var(--theme-green);
    color: var(--theme-yellow);
    clip-path: polygon(5% 0%,100% 0%,100% 100%,5% 100%,0% 50%);
    min-width: 160px;
    width: max-content;
    text-align: center;
    position: absolute;
    left: 35px;
    margin-top: -27.5px;
    font-weight: 700;
    padding: 2.5px 20px;
}
.scene-section {
    width: 100%;
    margin: 0 auto;
    min-height: 95vh;
    padding: 30px 0;
}
.scene-header {
    font-size: 1.5rem;
    color: var(--theme-white);
    background-color: var(--theme-black);
    padding: var(--wrapper-padding-half) var(--wrapper-padding);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    margin-left: -20px;
    margin-top: -11px;
    line-height: initial;
}
.flat-scene-header {
    font-size: 1.5rem;
    color: var(--theme-green);
}
.scene-text {
    background-color: var(--theme-white);
    padding: var(--wrapper-padding-half) var(--wrapper-padding);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    font-size: 1rem;
    width: 45ch;
    margin-right: var(--wrapper-padding);
    opacity: 0;
    z-index: 6;
}
.scene-text-flat {
    box-shadow: none;
}
.scene-media {
    width: 65%;
}
.scene-buffer {
    position: relative;
    height: 106vh;
    width: 100%;
    background-color: var(--theme-black);
    color: var(--theme-white);
}
.scene-buffer:before {
    overflow-x: hidden;
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: var(--theme-green);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
}
.buffer-header-wrapper {
    position: absolute;
    height: 80%;
    top: 10%;
    right: 5%;
    justify-content: center;
}
.scene-buffer-header {
    font-size: 3.5rem;
}
.buffer-bike {
    position: absolute;
    width: 25%;
    max-width: 350px;
}
.buffer-bike-red {
    left: 32%;
    top: 8%;
}
.buffer-bike-yellow {
    top: 35%;
    left: 6%;
}
.buffer-bike-white {
    top: 68%;
    left: 26%;
}
/* END Scroll Story General */
/****************************/



/* Individua Scenes */
.first-map-scene {
    /* account for sticky map */
    margin-top: -100vh;
}
#what-is-LTS-scene {
    /* approximate height of story-nav*/
    margin-top: -75vh;
    margin-bottom: 100px;
}
#regional-lts-table {
    max-width: 750px;
    font-size: 1rem;
    background-color: white;
    box-shadow: var(--box-shadow);
    text-align: center;
    margin: 0 auto;
    border-radius: var(--border-radius);
}
#regional-lts-table thead th:nth-child(1) {
    width: 10%;
}
#regional-lts-table tr:not(:last-child) {
    border-bottom: 4px solid #e9e9e9;
}
.regional-lts-table-th {
    background-color: #e9e9e9;
    color: var(--theme-purple);
    font-size: 1rem;
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
}
.top-left-corner-cell {
    border-top-left-radius: var(--border-radius);
}
.top-right-corner-cell {
    border-top-right-radius: var(--border-radius);
    text-align: left;
}
.regional-lts-table-cat {
    color: white;
    font-weight: 700;
    font-size: 2.5rem;
}
.table-pad-right {
    padding-right: 60px;
}
#regional-lts-table-1 {
    background-color: var(--theme-green);
}
#regional-lts-table-2 {
    background-color: var(--theme-green-light);
}
#regional-lts-table-3 {
    background-color: var(--theme-yellow);
}
#regional-lts-table-4 {
    background-color: var(--theme-red);
    border-bottom-left-radius: var(--border-radius);
}
.lts-table-ul li {
    margin-bottom: 5px;
}
/* END Individual Scenes */



/*******/
/* Map */
.map-wrapper {
    background-color: var(--theme-black);
    padding: var(--wrapper-padding-quad) 0;
}
.map-wrapper:first-of-type {
    padding-top: 0;
}
.map-wrapper:last-of-type {
    padding-bottom: 0;
}
.map {
    width: 100%;
    position: sticky;
}
/* END Map */
/********/



/**********/
/* Footer */
footer {
    position: relative;
    height: 96vh;
    width: 100%;
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.footer-text {
    position: absolute;
    width: 75%;
    top: 11%;
    left: 12.5%;
    background-color: rgba(255,255,255,0.5);
    border-radius: var(--border-radius);
}
.footer-text, .footer-connect {
    padding: var(--wrapper-padding-half) 0;
}
.footer-lts-logo {
    width: 375px;
}
.footer-action-p {
    width: 30ch;
    font-size: 2rem;
    font-weight: 700;
}
.footer-logo-dvrpc {
    width: 175px;
    margin-right: 10%;
}
.footer-connect {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--theme-green);
    color: var(--theme-white);
}
.footer-connect-us {
    font-size: 1.25rem;
}
.footer-connect-icon-wrapper {
    margin: var(--wrapper-padding-half) 0;
}
.footer-connect-link {
    padding: 0 var(--wrapper-padding-half);
    border-right: 2px solid var(--theme-white);
    color: var(--theme-white);
    height: 1.5rem;
}
.footer-connect-link:first-of-type {
    padding-left: 0;
}
.footer-connect-link:last-of-type {
    padding-right: 0;
    border: none;
}
.footer-policies-link {
    color: var(--theme-white);
    padding-right: var(--wrapper-padding-half);
}
.footer-policies-link:hover {
    color: var(--theme-white);
}
/* END Footer */
/**************/



/**************/
/* Animations */
.fadein {
    animation-name: fadein;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}
/* END Animations */
/******************/
