h1 {
    font-size: 0.8rem;
}
.nav-header-vr {
    margin: 0 0.5rem;
}
.mapboxgl-ctrl-geocoder {
    width: 70%;
    font-size: 1rem;
}
.mapboxgl-ctrl-geocoder--input {
    height: 35px;
    padding: 6px 35px;
}
.mapboxgl-ctrl-geocoder--icon-search {
    top: 6px;
    left: 6px;
}