h1, .mapboxgl-ctrl-geocoder, .dropdown-toggle {
    font-size: 0.8rem;
}
.nav-header-vr {
    margin: 0 0.5rem;
}
.dropdown-toggle {
    height: 30px;
    padding: 6px 12px;
}
.mapboxgl-ctrl-geocoder {
    min-width: unset;
    width: 85%;
}
.mapboxgl-ctrl-geocoder--input {
    height: 30px;
    padding: 6px 35px;
}
.mapboxgl-ctrl-geocoder--icon-search {
    top: 3px;
    left: 6px;
}
.legend-content {
    max-height: 40vh;
    overflow-y: auto;
    width: calc(100vw - 55px);
}
.legend-section {
    padding: var(--wrapper-padding-half);
}
.sidebar {
    font-size: 0.9rem;
}
.sidebar-header {
    font-size: 0.95rem;
}