h1 {
    font-size: 0.8em;
    width: 31ch;
    line-height: initial;
}
.mapboxgl-ctrl-geocoder, .dropdown-toggle {
    font-size: 0.8rem;
}
#dvrpc-logo {
    width: 50px;
}
.nav-header-vr {
    margin: 0 0.5rem;
}
.nav-link {
    width: 97.5px;
    font-size: 0.8em;
}
.nav-bike {
    width: 25px;
}
.wheel-nav {
    width: 6px;
    height: 6px;
    border: 1px solid var(--theme-white);
    bottom: -5.5px;
}
.dropdown-toggle {
    height: 30px;
    padding: 6px 12px;
}
.mapboxgl-ctrl-geocoder {
    min-width: unset;
    width: 75%;
}
.mapboxgl-ctrl-geocoder--input {
    height: 30px;
    padding: 6px 35px;
    padding-right: 0;
}
.mapboxgl-ctrl-geocoder--icon-search {
    top: 3px;
    left: 6px;
}
.legend-content {
    max-height: 40vh;
    overflow-y: auto;
    width: calc(100vw - 55px);
}
.legend-section {
    padding: var(--wrapper-padding-half);
}
.sidebar {
    font-size: 0.9rem;
}
.sidebar-header {
    font-size: 0.95rem;
}