/* General */
* {
    margin: 0;
}
body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 140%;
    text-rendering: optimizeLegibility;
}
h1 {
    text-align: center;
}
p {
    margin-top: 5px;
}
a {
    color: var(--theme-yellow);
}
:root {
    --theme-green: #498434;
    --theme-yellow: #fcd842;
    --theme-red: #a50a0a;
    --theme-black: #383838;

    --wrapper-padding: 10px;
    --wrapper-padding-double: 20px;

    --border-radius: 4px;
    --box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
    --box-shadow-up: 1px -2px 3px rgba(0,0,0,0.3);
}
.flex-row {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}
.flex-end {
    justify-content: flex-end;
}
.list-unstyled {
    list-style-type: none;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
/* END General */



/* Navbar */
nav {
    position: relative;
    height: 6vh;
    padding: 0 var(--wrapper-padding);
    box-shadow: var(--box-shadow);
    color: var(--theme-red);
    z-index: 1;
}
.header-nav {
    background-color: var(--theme-green);
}
.nav-links {
    color: var(--theme-yellow);
}
.nav-btn {
    background: transparent;
    border: none;
    text-decoration: underline;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
}
.nav-vr {
    margin: 0 5px;
    padding: 0;
    width: 1px;
    background-color: var(--theme-black);
    height: 1.5rem;
    display: inline-block;
}
.nav-header-vr {
    margin: 0 15px;
}
#dvrpc-logo {
    display: block;
    width: 75px;
}
/* END Navbar */



/* Main Webmap Area */
#main-content-wrapper {
    height: 94vh;
}
#regional-extent-img {
    display: block;
    margin: 0 auto;
    height: 20px;
    width: 20px;
}
/* END Main Webmap Area */



/* Sidebar */
#sidebar {
    position: absolute;
    top: calc(6vh + 10px);
    left: var(--wrapper-padding);
    width: 30vw;
    height: calc(94vh - 20px);
    z-index: 3;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--theme-black);
    color: #f7f7f7;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
#sidebar strong {
    color: var(--theme-red);
}
#sidebar-content {
    padding: var(--wrapper-padding-double) var(--wrapper-padding);
}
.sidebar-img {
    display: block;
    margin: 5px auto;
    max-width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.sidebar-form {
    margin: var(--wrapper-padding) auto;
}
.sidebar-fieldset {
    border-radius: var(--border-radius);
    border: 0.25rem solid var(--theme-green);
}
.sidebar-fieldset label {
    margin-right: 5px;
}
.sidebar-fieldset legend {
    color: var(--theme-yellow);
}
.sidebar-form-hr {
    margin: 2% 0;
}
/* END Sidebar */



/* Map */
#map {
    width: 100%;
    height: 100%;
}
.mapboxgl-popup-content {
    padding: var(--wrapper-padding-double) var(--wrapper-padding);
}
.popup-span {
    display: block;
}
.popup-span:not(:last-of-type) {
    border-bottom: 1px dotted var(--theme-black);
}
/* END Map */



/* Footer */
footer {
    height: 6vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    box-shadow: var(--box-shadow-up);
    background-color: var(--theme-black);
    color: white;
}
.footer-nav {
    padding: 0;
    background-color: var(--theme-green);
}
.footer-nav-ul {
    height: 100%;
    width: 100%;
    padding: 0%;
}
.footer-nav-li {
    width: 33%;
    text-align: center;
}
/* END Footer */